@use "sass:map"

@import "basic"

@import "components/button"
@import "components/checkbox"

@mixin themable($theme-name, $theme-map)
    body[data-theme=#{$theme-name}]
        padding: 32px 64px

        background-color: map.get($theme-map, "background")

        color: map.get($theme-map, "text")

        p, span, div
            color: map.get($theme-map, "text")

    main
        .header
            display: inline-flex

            img
                width: 96px
                height: 96px
                margin-right: 32px

        .footer
            position: absolute

            bottom: 0
            margin-bottom: 32px

            width: calc(100% - 128px)

            > div
                width: 100%

            div.checkbox
                font-size: medium

            .actions
                display: inline-flex

                margin-top: 48px

                .actions-right
                    margin-left: auto

                    .button:not(:last-child)
                        margin-right: 12px

@import "themes/light"
@import "themes/dark"

@include themable(light, $light)
@include themable(dark, $dark)
