@use "sass:map"

@import "components/checkbox"

@mixin themable($theme-name, $theme-map)
    body[data-theme=#{$theme-name}]

        background-color: map.get($theme-map, "background")
        color: map.get($theme-map, "text")

        p, span, div
            color: map.get($theme-map, "text")

        /* Text Field

        .text-field
            width: calc(100% - 28px)
            border-radius: 16px
            padding: 8px
            background-color: map.get($theme-map, "background2")
            color: map.get($theme-map, "text")
            border: unset
            outline: none
            font-size: 15px
            
        /* Directory selector

        .directory-selector
            display: inline-flex

            width: calc(100% - 28px)
            border-radius: 16px
            padding: 8px

            background-color: map.get($theme-map, "background2")

            > span
                align-self: center
                margin: 0 12px
                font-weight: 600

            > input
                width: 100%
                height: 24px
                align-self: center

                background-color: transparent

                font-size: 15px
                color: map.get($theme-map, "text")

                border: unset
                outline: none

            > div
                width: 120px
                margin-left: 8px

                button
                    padding: 4px 8px

                    &:nth-child(1) svg
                        width: 20px
                        height: 20px
                
                    &:nth-child(2) svg
                        width: 18px
                        height: 18px

                    &:hover
                        background-color: map.get($theme-map, "background1") !important

        /* Editable list of properties */

        .properties-list
            table
                width: 100%

                border-spacing: 0

                $cell-height: 40px
                $padding-v: 4px
                $padding-h: 8px

                tr
                    height: $cell-height

                    cursor: pointer

                    &:hover
                        background-color: map.get($theme-map, "background1")

                    td:nth-of-type(1),
                    th:nth-of-type(1)
                        width: 60%

                    th,
                    td
                        border-bottom: 1px solid map.get($theme-map, "background1")

                        &:not(:last-child)
                            border-right: 1px solid map.get($theme-map, "background1")
                        
                    td
                        span
                            display: block

                            width: calc(100% - 2 * $padding-h)
                            height: calc($cell-height - 2 * $padding-h)

                            margin: auto

                        input
                            display: none

                            width: calc(100% - 2 * $padding-h)
                            height: calc($cell-height - 2 * $padding-h)

                            background-color: map.get($theme-map, "background2")
                            color: map.get($theme-map, "text")

                            font-size: 15px

                            margin: auto
                            border: unset
                            outline: none

                .selected
                    background-color: map.get($theme-map, "background2") !important

                    input
                        display: block

                    span
                        display: none

            .properties-list-buttons
                width: 100%
                margin-top: 16px

                display: inline-flex
                justify-content: flex-end

                .button:not(:last-child)
                    margin-right: 8px

        /* Buttons */

        .button
            background-color: map.get($theme-map, "background1")
            border-radius: 16px
            border: none

            cursor: pointer
            font-size: 16px
            
            padding: 8px 20px

            color: map.get($theme-map, "text")

            &:hover:not([disabled])
                background-color: map.get($theme-map, "background2")

            &[disabled]
                cursor: default

        .button-primary
            background-color: map.get($theme-map, "background2")

            &:hover
                background-color: map.get($theme-map, "primary")
                color: white

@import "themes/light"
@import "themes/dark"

@include themable(light, $light)
@include themable(dark, $dark)
