@use "sass:map"

@import "basic"

@mixin themable($theme-name, $theme-map)
    body[data-theme=#{$theme-name}]
        background-color: map.get($theme-map, "background")

        div
            width: 80%

            max-width: 300px
            max-height: 400px

            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

            img
                width: 80%
                display: block
                margin: 0 auto 16px auto
                image-rendering: optimizeQuality

            h2, p
                margin: 0
                text-align: center
                color: map.get($theme-map, "text")

            p
                color: grey
                font-weight: 600
                margin-top: 12px

@import "themes/light"
@import "themes/dark"

@include themable(light, $light)
@include themable(dark, $dark)
