node_modules 
dist
package-lock.json
yarn.lock
wineprefix-installation.log
public/css/index.css
public/css/settings.css
public/css/analytics.css
public/css/components.css
public/js
repository-pics/logo.xcf