[package]
name = "anime-game-launcher"
version = "3.1.2"
description = "Anime Game launcher"
authors = ["Nikita Podvirnyy <suimin.tu.mu.ga.mi@gmail.com>"]
license = "GPL-3.0"
edition = "2021"
build = "build.rs"

[profile.release]
strip = true
lto = true
opt-level = 3

[build-dependencies]
glib-build-tools = "0.17"

[dependencies]
relm4 = { version = "0.5", features = ["macros", "libadwaita"] }
gtk = { package = "gtk4", version = "0.5", features = ["v4_8"] }
adw = { package = "libadwaita", version = "0.2", features = ["v1_2"] }
rfd = { version = "0.11", features = ["xdg-portal"], default-features = false }
open = "3.2.0"

anime-launcher-sdk = { path = "anime-launcher-sdk" }

tracing = "0.1"
tracing-subscriber = "0.3"

fluent-templates = "0.8"
unic-langid = "0.9"

lazy_static = "1.4.0"
anyhow = "1.0"
cached = { version = "0.42", features = ["proc_macro"] }
serde_json = "1"
md-5 = { version = "0.10", features = ["asm"] }
