[package]
name = "anime-game-launcher"
version = "2.0.0-dev"
description = "Anime Game launcher"
authors = ["Nikita Podvirnyy <suimin.tu.mu.ga.mi@gmail.com>"]
license = "GPL-3.0"
edition = "2021"
build = "build.rs"

[profile.release]
strip = true
lto = true
opt-level = 3

[build-dependencies]
glib-build-tools = "0.16"

[dependencies]
relm4 = { version = "0.5.0-rc.1", features = ["macros", "libadwaita"] }
gtk = { package = "gtk4", version = "0.5", features = ["v4_8"] }
adw = { package = "libadwaita", version = "0.2", features = ["v1_2"] }

anime-launcher-sdk = { path = "anime-launcher-sdk" }

tracing = "0.1"
tracing-subscriber = "0.3"

fluent-templates = "0.8"
unic-langid = "0.9"

lazy_static = "1.4.0"
