[package]
name = "anime-game-launcher"
version = "0.1.0"
description = "Anime Game launcher"
authors = ["Nikita Podvirnyy <suimin.tu.mu.ga.mi@gmail.com>"]
license = "GPL-3.0"
edition = "2021"
build = "build.rs"

[dependencies]
gtk4 = "0.4"
libadwaita = "0.1"

anime-game-core = { path = "anime-game-core", features = ["all"] }

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

dirs = "4.0.0"
tokio = { version = "1.19.2", features = ["rt", "rt-multi-thread", "macros"] }
