<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" lang="sass" href="/src/sass/basic.sass" />
    </head>

    <body>
        <div id="app">
            <h1>{{ $t('settings.test') }}</h1>

            <div class="locale-changer">
                <select v-model="$i18n.locale">
                    <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">{{ locale }}</option>
                </select>
            </div>

            <l-checkbox property="test"></l-checkbox>
        </div>

        <script src="neutralino.js"></script>

        <script type="module" src="/src/entry.js"></script>
        <script type="module" lang="ts" src="/src/pages/settings.ts"></script>
    </body>
</html>